/* Style the header container */
header {
    display: flex; /* Establishes a flex container */
    align-items: center; /* Vertically centers the items inside */
    justify-content: space-between; /* Distributes space evenly between the items */
    width: 100%; /* Ensures the header spans the full width */
    padding: 10px 20px; /* Adds some space on the sides and top/bottom */
    background-color: #ee9393; /* Sets a light gray background for the header */
  }
  
  /* Style the navigation menu */
  nav {
    display: flex; /* Makes the nav menu a flex container */
    gap: 80px; /* Creates consistent space between the navigation links */
    align-items: center;
  }
  
  /* Style the search container */
  .search-container {
    display: flex; /* Makes the search container a flex container */
    align-items: center; /* Vertically centers the search input and buttons */
    gap: 20px; /* Adds space between the search elements */
  }
  
  /* Style the search input field */
  #search-input {
    padding: 8px; /* Adds internal padding to the search box */
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
  }
  
  /* Style the search buttons */
  .search-container button {
    padding: 8px 12px; /* Adds padding to the buttons */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Basic link styling */
  a {
    text-decoration: none; /* Removes the underline from links */
    color: #333;
  }
  
  /* style brand  */
  .navbar-brand {
    font-size: 20px;
    font-style: italic;
  }

  /* =============to style home page ============*/
  /* h1 is large */
h1 {
    font-size: 3em; /* 3 times the root font size */
    font-weight: bold;
    color: #db4417;
    -webkit-text-stroke: 2px rgb(56, 40, 10);
  }
  
  /* p is small */
p {
    font-size: 2em; /* 80% of the root font size */
    color:white;
    -webkit-text-stroke: 2px rgb(56, 40, 10);
  }

/* adding background image */
 body {
   background-image: url('images/background_travel.jpg');
   background-size: cover; /* Ensures the image covers the entire background */
   background-repeat: no-repeat; /* Prevents the image from repeating if it's smaller than the screen */
   background-position: center center; /* Centers the background image */
   background-attachment: fixed; /* Keeps the background image fixed while scrolling */
   height: 100vh;
   margin: 0;

}
